#
# The MySQL database server configuration file.
#
# You can copy this to one of:
# - "/etc/mysql/my.cnf" to set global options,
# - "~/.my.cnf" to set user-specific options.
#
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

# This will be passed to all mysql clients
# It has been reported that passwords should be enclosed with ticks/quotes
# escpecially if they contain "#" chars...
# Remember to edit /etc/mysql/debian.cnf when changing the socket location.
[client]
port        = 3306
socket      = /dev/shm/tzwang/mysql/mysqld.sock

# Here is entries for some specific programs
# The following values assume you have at least 32M ram

# This was formally known as [safe_mysqld]. Both versions are currently parsed.
[mysqld_safe]
socket      = /dev/shm/tzwang/mysql/mysqld.sock
nice        = 0

[mysqld]
ermia-gtt-recycle-capacity=100
ermia-ermia-bypass=OFF
ermia-ermia-null-log-device=OFF

#
# * Basic Settings
#
innodb-doublewrite=OFF
innodb-buffer-pool-size=32GB #2147483648
innodb-buffer-pool-instances=4
innodb-buffer-pool-chunk-size=2GB #1073741824
innodb_log_file_size=16GB
innodb_log_buffer_size=64MB
innodb-open-files=10000

performance_schema=OFF
skip-log-bin
skip-grant-tables
thread-handling=pool-of-threads
thread-pool-size=48
thread-pool-max-threads=96
max-connections=50000
max-prepared-stmt-count=1048576

user        = mysql
pid-file    = /dev/shm/tzwang/mysql/mysqld.pid
socket      = /dev/shm/tzwang/mysql/mysqld.sock
mysqlx_socket = /dev/shm/tzwang/mysql/mysqldx.sock
port        = 3306
basedir     = /usr
datadir     = /dev/shm/tzwang/mysql/data
tmpdir      = /dev/shm/tzwang/mysql
lc-messages-dir = /home/tzwang/projects/cross-engine/mysql-ermia/build/share
skip-external-locking
#
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
bind-address        = 0.0.0.0
# bind-address        = 142.58.21.127

#log_error = /dev/shm/tzwang/mysql/error.log
#server-id      = 1
#log_bin            = /var/log/mysql/mysql-bin.log
#expire_logs_days    = 10
#max_binlog_size         = 100M
#binlog_do_db       = include_database_name
#binlog_ignore_db   = include_database_name
[mysqldump]
quick
quote-names
max_allowed_packet  = 16M
