#
# The MySQL database server configuration file.
#
# You can copy this to one of:
# - "/etc/mysql/my.cnf" to set global options,
# - "~/.my.cnf" to set user-specific options.
#
# One can use all long options that the program supports.
# Run program with --help to get a list of available options and with
# --print-defaults to see which it would actually understand and use.
#
# For explanations see
# http://dev.mysql.com/doc/mysql/en/server-system-variables.html

# This will be passed to all mysql clients
# It has been reported that passwords should be enclosed with ticks/quotes
# escpecially if they contain "#" chars...
# Remember to edit /etc/mysql/debian.cnf when changing the socket location.
[client]
port        = 3306
socket      = /dev/shm/void001/mysql/mysqld.sock

# Here is entries for some specific programs
# The following values assume you have at least 32M ram

# This was formally known as [safe_mysqld]. Both versions are currently parsed.
[mysqld_safe]
socket      = /dev/shm/void001/mysql/mysqld.sock
nice        = 0

[mysqld]
#
# * Basic Settings
#
# Large Bpool use the following line (scale = # of threads)
innodb-buffer-pool-size=32GB 
# Small bpool use the folloqwing line (scale = 200wh)
# innodb-buffer-pool-size=5G
innodb-buffer-pool-instances=4
innodb-buffer-pool-chunk-size=2GB #1073741824
innodb_log_file_size=16GB
innodb_log_buffer_size=64MB
innodb-doublewrite=OFF
innodb-open-files=10000

performance_schema=ON
skip-log-bin
skip-grant-tables
thread-handling=pool-of-threads
thread-pool-size=40
thread-pool-max-threads=48
max-connections=50000

max-prepared-stmt-count=1048576

user        = mysql
pid-file    = /dev/shm/void001/mysql/mysqld.pid
socket      = /dev/shm/void001/mysql/mysqld.sock
mysqlx_socket = /dev/shm/void001/mysql/mysqldx.sock
port        = 3306
basedir     = /usr
datadir     = /dev/shm/void001/mysql/data
tmpdir      = /dev/shm/void001/mysql
lc-messages-dir = /tmp/
ermia-ermia-log-dir = /dev/shm/void001/ermia-log/
skip-external-locking
ermia-gtt-recycle-capacity=10000
ermia-gtt-recycle-threshold=1000
ermia-ermia-null-log-device = ON
#
# Instead of skip-networking the default is now to listen only on
# localhost which is more compatible and is not less secure.
bind-address        = 0.0.0.0
# bind-address        = 142.58.21.127

#log_error = /dev/shm/void001/mysql/error.log
#server-id      = 1
#log_bin            = /var/log/mysql/mysql-bin.log
expire_logs_days    = 10
max_binlog_size         = 100M
general_log = OFF
innodb-lock-wait-timeout = 50
#binlog_do_db       = include_database_name
#binlog_ignore_db   = include_database_name
#
#
# DEBUG THE PURGE
[mysqldump]
quick
quote-names
max_allowed_packet  = 16M


